#offer div img {
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
}

.material--wood,
.material--tile,
.material--tinware,
.material--mug,
.material--flashings,
.material--windows {
    background-color: var(--font-color--primary);
    padding-top: var(--space--l);
    padding-bottom: var(--space--xl);
    padding-left: var(--space--l);
    padding-right: var(--space--xl);
    border-radius: 1rem;
}

#offer div > div > div {
    display: flex;
    align-items: center;
    padding-bottom: var(--space--s);
}

#offer div > div > p {
    padding-left: var(--space--xs);
}

#offer div> div > h2 {
    font-weight: var(--font-weight--normal);
    padding-left: var(--space--m);
}

ul {
    margin-left: var(--space--xs);
}

/* Mobile */
@media only screen and (max-width: 768px) {
    #offer {
    display: grid;
    place-items: center;
    padding-top: var(--space--xxl);
    padding-bottom: 10rem;
    padding-left: var(--space--m);
    padding-right: var(--space--m);
    }

    .material--wood,
    .material--tile,
    .material--tinware,
    .material--mug,
    .material--flashings,
    .material--windows {
        height: fit-content;
        line-height: 2.5rem;
        margin-bottom: 4rem;
    }

    #offer h1 {
        padding-bottom: 3rem;
    }
}    

/* Desktop and tablet */
@media only screen and (min-width: 769px) {
    #offer {
        display: flex;
        flex-direction: column;
    }

    #offer p,
    #offer li {
        font-size: var(--font-size--base);
    }

    #offer h1 {
        text-align: center;
        color: var(--font-color--primary);
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    .material--wood,
    .material--tile,
    .material--tinware,
    .material--mug,
    .material--flashings,
    .material--windows {
        line-height: 2.8rem;
        width: 40rem;
    }

    .desktop--row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 156rem;
        gap: 18rem;
        margin-bottom: 13rem;
    }
}