:root {
    --background-color--primary: rgba(255,255,255, 0.9);
    --background-color--secondary: rgba(255,255,255, 0.7);
    --background-color--tertiary: rgba(0, 0, 0, 0.6);
    --background-color--quaternary: rgba(0, 0, 0, 0.85);
    --font-color--primary: rgba(255,255,255, 1);
    --font-color--secondary: rgba(22, 18, 18, 1);
    --logo-background--color: rgb(11,142,54, 1);
    --font-color--input: ;
    --font-family--primary: 'Poppins';
    --font-family--secondary: 'Oranienbaum';
    --font-size__h1--mobile: 3.2rem;
    --font-size__h2--mobile: 2.4rem;
    --font-size__h1--desktop: 4.8rem;
    --font-size__h2--desktop: 2.4rem;
    --font-size--base: 1.6rem;
    --font-size__p--mobile: 1.4rem;
    --font-size__p--desktop: 2rem;
    --font-size__a--mobile: 3.2rem;
    --font-size__a--desktop: 3rem;
    --font-weight--bold: 700;
    --font-weight--normal: 400;
    --font-weight--light: 300;
    --navigation--height: 9rem;
    --button-height--primary: 6rem;
    --button-width--desktop: 40rem;
    --input-width--desktop: 40rem;
    --input-height: 6rem;
    --textarea-height: 12rem;
    --textarea-width--desktop: 40rem;
    --space--xs: 0.5rem;
    --space--s: 1rem;
    --space--m: 1.5rem;
    --space--l: 2rem;
    --space--xl: 2.5rem;
    --space--xxl: 3rem;
    --space--xxxl: 3.5rem;
    --space--xxxxl: 4rem;

}